<div class="dialog-box success" *ngIf="data.type=='success'">
    <h2 mat-dialog-title>
        <mat-icon>done</mat-icon>
    </h2>
    <div class="dialog-content">
        <div [innerHtml]="data.message"></div>
        <mat-dialog-actions>
            <button mat-raised-button color="primary" class="primary-btn small"  [mat-dialog-close]="true" >
                Ok
            </button>
        </mat-dialog-actions>
    </div>
</div>

<div class="dialog-box error" *ngIf="data.type=='error'">
    <h2 mat-dialog-title>
        <mat-icon>error</mat-icon>
    </h2>
    <div class="dialog-content">
        <p class="fs-15">{{data.message}}</p>
        <p *ngIf="data.showTryLater">Please try again later.</p>
        <mat-expansion-panel *ngIf="data.details" class="mat-elevation-z">
            <mat-expansion-panel-header>
                <mat-panel-title>Error Details</mat-panel-title>
            </mat-expansion-panel-header>
            <div [innerHtml]="data.details"></div>
        </mat-expansion-panel>

        <mat-dialog-actions>
            <button  [mat-dialog-close]="true" mat-raised-button color="primary" class="primary-btn small" >
                Ok
            </button>
        </mat-dialog-actions>
    </div>
</div>

<div class="dialog-box warn" *ngIf="data.type=='warn'">
    <h2 mat-dialog-title>
        <mat-icon>warning</mat-icon>
    </h2>
    <div class="dialog-content">
        <p [innerHTML]="data.message"></p>
        <mat-dialog-actions>
            <button [mat-dialog-close]="true" mat-raised-button color="primary" class="primary-btn small" >
                Ok
            </button>
        </mat-dialog-actions>
    </div>
</div>

<div class="dialog-box confirm" *ngIf="data.type=='confirmYesNo'">
    <h2 mat-dialog-title>
        <mat-icon>warning</mat-icon>
    </h2>
    <div class="dialog-content">
        <p>{{data.message}}</p>
        <mat-dialog-actions>
            <button mat-raised-button color="primary" class="primary-btn small" [mat-dialog-close]="true">
                Yes
            </button>
            <button mat-raised-button color="primary" class="primary-btn small" [mat-dialog-close]="false">
                No
            </button>
        </mat-dialog-actions>
    </div>
</div>